.container{
    display: grid;
    grid-gap: 1rem;
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* align-items: center; */
    /* justify-content: center; */
}
.box{
    border: 2px solid black;
    border-radius: 0px 10px 0px 10px;
    background-color: rgb(251, 204, 132);
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    height: 30px;
    transition-property: background-color;
    transition-duration: 1s;
    
}
div a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
h3{
    /* border: 2px solid black; */
    /* display: inline-block; */
    /* width: 600px; */
    height: 50px;
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}
.box:hover{
    background-color: rgb(255, 48, 48);
    /* color: aliceblue; */
    box-shadow: 5px 5px 10px 2px rgb(44, 111, 255);
}
div a:hover{
    text-decoration: none;
    color: rgb(47, 0, 0);
}
#bottom{
    background-color: black;
    width: 200px;
    text-align: center;
}
#bottom1{
    color: blanchedalmond;
}
#top{
    background-color: black;
    width: 200px;
    text-align: center;
}
#top1{
    color: blanchedalmond;
}