/* Navigation bar */

#navbar{
    flex-direction: column;
}

/* Home Section */



/* service section */

#services{
    flex-direction: column;
}



/* client section */

#clients{
    overflow: hidden;
}

/* contact us section */



/* footer */


