body {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  padding: 0px;
  background: url(./06.jpg);
  color: white;
}
.left {
  border: 2px solid red;
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 30px;
}
.left img {
  height: 60px;
  margin-left: 20px;
}
.left div {
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 10px;
  margin: 10px auto;
}
.mid {
  border: 2px solid green;
  display: block;
  width: 50%;
  margin: 30px auto;
}
.right {
  border: 2px solid yellow;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 30px;
}
.navbar {
  display: inline-block;
}
.navbar li {
  display: inline-block;
  font-size: 20px;
}
.navbar li a {
  color: rgba(255, 255, 255, 0.938);
  text-decoration: none;
  padding: 10px 30px;
}
.navbar li a.active {
  text-decoration: underline;
  color: rgb(255, 94, 0);
  font-size: 25px;
}
.navbar li a:hover {
  color: rgb(0, 247, 255);
  font-size: 25px;
}
.btn {
  font-family: "Ubuntu", sans-serif;
  padding: 5px 20px;
  margin: 10px 10px;
  background-color: black;
  font-size: 15px;
  color: white;
  border: 2px solid rgb(82, 82, 82);
  border-radius: 10px 0px 10px 0px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.container {
  border: 2px solid rgb(252, 252, 252);
  margin: 90px 0px 0px 90px;
  padding: 30px 30px 30px 30px;
  border-radius: 30px 0px 30px 0px;
  width: 380px;
}
.container h1 {
  font-size: 18px;
  margin: 10px 6px 23px 25px;
}
.form-group input {
  border: 2px solid rgb(126, 126, 126);
  border-radius: 5px;
  text-align: center;
  display: block;
  width: 220px;
  padding: 2px 40px 2px 40px;
  margin: 15px auto;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
}
.form-group button {
  display: block;
  width: 300px;
  margin: 5px auto;
  padding: 7px;
}
